<div xld-page="2,2,2" ng-controller='xldCtrlExpenses' class=''>
<div class='xld-page-head yellow'>
	<div class='xld-col-2'>
		<a class='button right' href='/expenses/new' xld-forward >Add expense</a>
		<h1 >Expenses</h1>
	</div>
</div>
<table class='xld-list clickable xld-col-2' >
	<tr ng-repeat="e in s.expenses._rows" class='selectable' ng-click='page.goDefault($event, e)' >
		<td>{{e.date}}</td>
		<td>{{e.expenseKind.expenseName}}</td>
		<td align="right">{{nf(e.amount)}}</td>
		<td>{{e.expenseDescription}}</td>
	</tr>
</table>
</div>

