<div xld-page="2,2,3" ng-controller='xldCtrlOrders' class=''>
<div class='xld-page-head'>
	<div class='xld-col-3'>
		<a class='button right' href='/orders/new' xld-forward >New order...</a>
		<h1 >Orders</h1>
	</div>
</div>
<table class='xld-list clickable xld-col-3' >
	<tr ng-repeat="order in s.orders._rows" class='selectable' ng-click='page.goForward($event, order.gui.href)' >
		<td>{{order.deliveryActor.actorName}}</td>
		<td>{{order.orderName}}</td>
		<td>{{order.orderId}}</td>
	</tr>
</table>
</div>

