<div xld-page="2,2,2" ng-controller='xldCtrlPartners' class=''>
<div class='xld-page-head'>
	<div class='xld-col-2'>
		<a class='button right' href='/partners/new' xld-forward >Add partner</a>
		<h1 >Partners</h1>
	</div>
</div>
<table class='xld-list clickable xld-col-2' >
	<tr ng-repeat="partner in s.partners._rows" class='selectable' ng-click='goForward(partner.gui.href, $event)' >
		<!-- <td><a xld-forward  href='{{partner.gui.href}}'>{{partner.partnerName}}</a></td> -->
		<td>{{partner.partnerName}}</td>
		<td>{{partner.partnerStatus}}</td>
	</tr>
</table>
</div>

