* {
	box-sizing: border-box;
}

html, body {
    height:100%;
    width:100%;
    position:relative;
    margin:0;
    padding:0;
	font-size:15px; /* should adjust with media query and from here only em and rem enabled */
	
}


div#xld-outer {
    height:100%; 
    width:100%; 
	overflow : hidden;
}

#xld-main {
	z-index : 500;
    width:100%;
    height:80%; 
	overflow-x:hidden;
	overflow-y:auto;
	position:relative;
}

#xld-header {
width:100%;
height:50px;
}

#xld-main-scroll {
	position:absolute;
	left : 0;
	top : 0;
	width : 10000px;
	height:100%;
	overflow:hidden;
}

.xld-page-col {
	position:relative; 
	width:100%; /* javascript overrides it */
	height:100%;
	float:left;
	outline : 1px solid #ddd;
	overflow:hidden;
	
	background-color:#fdfdfd;
	background-color: #f8f8f8;
	box-shadow: 5px 0px 10px -3px rgba(0, 0, 0, 0.11) inset;	
}

	.xld-page-col:first-child {
	outline : none;
	background-color:#fdfdfd;
	box-shadow : none;
	}

.xld-page-scroll {
	position:relative; 
	width:100%;
	height:100%;
	overflow-y:auto;
	overflow-x:hidden;
}

.xld-page-header {
float:left;
width:100%;

}

.xld-page-pad {
	padding:8px;
}

/* ============== */

.xld-col-1 {
	max-width:19rem;
}

.xld-col-2 {
	max-width:39rem;
}

.xld-col-3 {
	max-width:59rem;
}

.xld-col-4 {
	max-width:79rem;
}

.xld-col-5 {
	max-width:99rem;
}

.xld-col-6 {
	max-width:119rem;
	float:left;
}

.xld-col-7 {
	max-width:139rem;
	float:left;
}

.xld-col-8 {
	max-width:159rem;
	float:left;
}

.xld-col-9 {
	max-width:179rem;
	float:left;
}

.xld-col-10 {
	max-width:199rem;
	float:left;
}


/* ============================================================= LIST ============================================================== */

.xld-list {
	width:100%;
	table-layout : fixed;
	border-spacing : 0;
	border-collapse : collapse;
}

.xld-list td,
.xld-list th {
	white-space: nowrap;
	vertical-align : top;
	overflow : hidden;
	text-overflow: ellipsis;
	
}

.xld-list.clickable {
	cursor : pointer;
}

.xld-list tr {
	border-bottom: 1px solid #ddd;
}

.xld-list tr:hover {
	background-color:#FFF;
	background-color:#FDF9E4;
}

.xld-list tr.selected {
	background-color: #C1DDD2;
	background-color: #F7E491;
	background-color: #FCF1A5;
}

/*
.xld-list tr.selected:hover {
	background-color: #7EE6F4;
}
*/

.xld-list td {
	padding:0.2rem 1rem;
}

/* ----- */

.xld-table-row {
background: #cec4e0; /* Old browsers */
background: -moz-linear-gradient(top,  #cec4e0 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cec4e0), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #cec4e0 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #cec4e0 0%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #cec4e0 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #cec4e0 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cec4e0', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */


border-left: 4px solid #7056A5;
padding: 3px;
margin-bottom: 8px;
}}


/* ============================================================= NAVIGATION ============================================================== */
#xld-nav-main
		{
			z-index : 1000;
			width: 10000px;
			font-weight: 400;
			height : 1.75em;
		
		}

			#xld-nav-main > a
			{
				display: none;
			}

			#xld-nav-main li
			{
				position: relative;
			}
				#xld-nav-main li a
				{
					color: #fff;
					display: block;
					text-decoration: none;
				}
				#xld-nav-main li a:active
				{
					background-color: #c00 !important;
				}

			/* first level */

			#xld-nav-main > ul
			{
				height: 2em; 
				background-color: transparent;
				margin  : 0;
				padding : 0;
			}
				#xld-nav-main > ul > li
				{
					height: 100%;
					float: left;
					outline : 0px solid orange;
				}
					#xld-nav-main > ul > li > a
					{
						height: 100%;
						text-align: center;
						padding : 0 2em;
						line-height : 2em;
						white-space : nowrap;
					}
						#xld-nav-main > ul > li:not( :last-child ) > a
						{
							border-right: 1px solid #555;
						}
						#xld-nav-main > ul > li:hover > a,
						#xld-nav-main > ul:not( :hover ) > li.active > a
						{
							background-color: #103B51;
						}


				/* second level */

				#xld-nav-main li ul
				{
					background-color:  rgba(0, 0, 0, 0.71);
					 box-shadow: 10px 10px 16px -10px #000;
					display: none;
					position: absolute;
					top: 2em;
					z-index: 1000;
					padding:0;
					margin:0;
				}
					#xld-nav-main li:hover ul
					{
						display: block;
						left: 0;
						right: 0;
					}
					
						#xld-nav-main li:hover ul.hideonclick {
						display:none !important;
						}
					
						#xld-nav-main li:not( :first-child ):hover ul
						{
							left: -1px;
						}
						#xld-nav-main li ul a
						{
							border-top: 1px solid #16384A;
							padding: 0.4em 0.75em; /* 15 (20) */
							color : #fff;
						}
							#xld-nav-main li ul li a:hover,
							#xld-nav-main li ul:not( :hover ) li.active a
							{
							background-color: #94B0C0;
							color: #080808;
							}