
/* ==================================================  ========================================== */
@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	
background: #a3a39d; /* Old browsers */
background: -moz-linear-gradient(top,  #a3a39d 1%, #7c7c79 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#a3a39d), color-stop(100%,#7c7c79)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a3a39d 1%,#7c7c79 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a3a39d 1%,#7c7c79 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a3a39d 1%,#7c7c79 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a3a39d 1%,#7c7c79 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3a39d', endColorstr='#7c7c79',GradientType=0 ); /* IE6-9 */

background: #2385ba; /* Old browsers */
background: -moz-linear-gradient(top,  #2385ba 0%, #0d3144 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2385ba), color-stop(100%,#0d3144)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #2385ba 0%,#0d3144 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #2385ba 0%,#0d3144 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #2385ba 0%,#0d3144 100%); /* IE10+ */
background: linear-gradient(to bottom,  #2385ba 0%,#0d3144 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2385ba', endColorstr='#0d3144',GradientType=0 ); /* IE6-9 */
	
}


div#xld-outer {
}

nav#xld-nav-main {
background-color:#111;
-webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.7);
-moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.7);
box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.7);
}


#xld-main, #xld-main-scroll {
/*background-color:#353535;
background-color: #D3D3D2;*/
margin-top: 15px;
}



.xld-page-content h2 {
padding: 0;
margin: 0;
border-bottom: 1px solid #E5E5E5;
font-size: 1.4rem;
}



.xld-page-content a {
	text-decoration : none;
	color:#4786A1;
	display:inline-block;
}

	/*.xld-page-content a:hover {
		text-decoration : none;
		color: #fff;
		background-color:#215CC1;
	}*/

	.xld-page-content a:active,
	.xld-page-content button:active {
		background: #c00 !important;
		color:#fff !important;
	}



.xld-page-content h2 {
font-family: 'Open Sans', sans-serif;
font-size: 1.7rem;
color: #ABABAB;
text-shadow: #FFF 0 1px 0;
font-weight: 300;
}

.xld-page-content label {
font-family: 'Open Sans', sans-serif;
font-size: 0.7rem;
color: #666;
text-shadow: #FFF 0 1px 0;
font-weight: 300;
}

.xld-page-content select, 
.xld-page-content input, 
.xld-page-content textarea {
padding: 0.3em 1em;
width: 100%;
border: 1px solid #D4D4D4;
background-color: #FFF;
border-radius: 4px;
font-weight: bold;
margin-bottom : 3px;
}


.xld-page-head {
width: 100%;
background-color: #7C7C7C;
background-color: #FFFFFF;
height: 2.5rem;
padding: 0.5rem 1rem;
border-bottom: 3px solid #ccc;
}

	.xld-page-head.red {
	border-bottom: 3px solid #C35E5E;
	}

	.xld-page-head.purple {
	border-bottom: 3px solid #7056A5;
	}

	.xld-page-head.yellow {
	border-bottom: 3px solid yellow;
	}


.xld-page-head .button {

padding: 0 1rem;
color: #1F1F1F;
font-weight: 700;
line-height: 1.5rem;
float : left;
text-shadow: 1px 1px #eeeeee;
border: 1px solid transparent;
background-color: transparent;
}

	.xld-page-head .button:hover {
		border : 1px solid #666;
	}


/*.xld-page-head .button.back {
border-top-left-radius: 11px;
border-bottom-left-radius: 11px;
}*/

/*.xld-page-head .button.save {
color: #FFFFFF;
background-color: #474747;
font-weight: normal;
text-shadow: none;
}*/

.xld-page-head .button.right {
float:right;
}

.xld-page-head h1 {
font-size: 1.4rem;
padding: 0 1rem;
margin: 0;
display: inline-block;
float: left;
line-height: 1.5rem;
color: #414141;
text-shadow: 1px 1px #9A9A9A;
color: #3D3D3D;
text-shadow: 1px 1px #FFF;
}


.xld-page-content .button.page-bottom {
width:100%;
padding: 4px;
}
